.portfolio {
    display: block;
    margin: 20px auto;
    max-width: 1140px;

    & h2 {
        font-size: 30px;
        text-align: center;
        margin-bottom: 20px;
    }
}

.portfolio::after{
  clear: both;
  content: "";
  display: block;
}

.cardz {
  float:left;
  margin: 0 0 30px 68px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  border-radius: 10px;
  padding: 14px;
  width: 25%;
  transition: 0.3s;
  background-color: white;
  
  &__container {
    padding: 2px 16px;
    word-wrap: break-word;
    padding-top: 15px;
    text-align: center;

      h5{
        margin-bottom: 15px;
      }
      
      .plot{
        border-top: 1px solid black; 
        padding: 15px 0 30px 0;
        .cardz__plot2{
          float: left;

          img {
            width: 30px;
            height: 30px;
            margin-right: 10px;
            
          }

        }
        .cardz__plot3{
          float: right;

        }
      }
        .plot:after{
          clear: both;
          content: "";
          display: block;
        }
    }

  }

.cardz:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
