/* Ini adalah file main.scss yang akan menjadi tempat menulis styling */


/*  import google fonts */



@import 'variabels';
@import 'mixin';
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,400;0,600;0,700;0,900;1,400;1,600;1,700&family=Poppins:wght@100;200;300;400;600;700&family=Roboto:ital,wght@1,500&display=swap');
@import 'portfolio';
@import 'contact';
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
html{
    scroll-behavior: smooth;
}

/* custom scroll bar */
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/* all similar content styling codes */
section{
    padding: 100px 0;
}

.about, .portfolio, .skills, .contact, footer {
    font-family: 'Poppins', sans-serif;
}

.about .about-content,
.portfolio .post__card,
.skills .skills-content,
.contact .contact-content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

section .title {
    position: relative;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 50px;
    padding-bottom: 20px;
    margin-top: 50px;
    font-family: 'Ubuntu', sans-serif;
}

section .title::before {
    content: "";
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 180px;
    height: 3px;
    background: #111;
    transform: translateX(-50%);
}

section .title::after {
    position: absolute;
    bottom: -8px;
    left: 50%;
    font-size: 20px;
    color: blue;
    padding: 0 5px;
    background: #fff;
    transform: translateX(-50%);
}

/* navbar styling */
.navbar {
    width: 100%;
    z-index: 999;
    padding: 30px 0;
    font-family: 'Ubuntu', sans-serif;
    transition: all 0.3s ease;
}

.navbar.sticky {
    padding: 15px 0;
    background: blue;
}

.navbar .max-width {
    display: flex;
    align-items: center;
    justify-content: center ;
}

.navbar .logo a {
    color: rgb(0, 0, 0);
    font-size: 35px;
    font-weight: 600;
}

.navbar .logo a span {
    color: blue;
    transition: all 0.3s ease;
}

.navbar.sticky .logo a span {
    color: #fff;
}

.navbar .menu li {
    list-style: none;
    display: inline-block;
}

.navbar .menu li a {
    display: block;
    color: rgb(0, 0, 0);
    font-size: 18px;
    font-weight: 500;
    margin-left: 25px;
    transition: color 0.3s ease;
}

.navbar.sticky .menu li a:hover {
    color: #fff;
}

// Hero Image
.hero-image {
    display: block;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(./assets/images/profile-1.png);
    height: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

    img{
        height: 450px;
        display: block;
        margin: auto;
    }
  }

  .hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(0, 0, 0);
    font-size: 48px;
    color: white;
    font-weight: bold;
  }


  //about
 .about {
     max-width: 1140px;
     margin-right: auto;
     margin-left: auto;
 }

  .about p {
      line-height: 1.6;
  }

  .judul-nama {
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 10px;
  }

  //skill
  * {
    box-sizing: border-box;
  }
/* Float four columns side by side */
.column {
    display: inline-block;
    float:none;
    width: 25%;
    padding: 0 10px;
  }
  
  /* Remove extra left and right margins, due to padding */
  .row {
      margin-bottom: 30px;
      display: flex;
      justify-content: center;
      flex-direction: row;
    }

  .row:after{
      content: "";
      display: table;
      clear: both;
  }
  
  /* Style the counter cards */
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    text-align: center;
    background-color: #f1f1f1;
  }
  
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }

  footer {
    text-align: center;
    padding: 20px;
    background-color: grey;
  }
  .grid-container {
    display: grid;
    grid: auto / 33% 33% 33%;
    grid-gap: 10px;
    background-color: #000000;
    padding: 10px;
  }
  
  .grid-container > div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: left;
    margin-left: 50px;
    padding: 20px 0;
    background: #000000;
  }

  .g1 {
      text-align: left;
      line-height: 1.5;
      h2{
          font-size: 14px;
          font-weight: 1000;
          padding-bottom: 20px;
      }
      h3{
        font-size: 14px;
        font-weight: 1000;
    }
      p{
          font-size: 14px;
          padding-bottom: 20px;
      }

      li{
          color: white;
          margin-bottom: 10px;
      }

      
      ul,li {
        color: white;
    }

  }

  .footers{
      background-color: #171717;
      padding: 20px;
  }

  .buttonss{
      float: left;
      display: -webkit-inline-box;

      .buttonss__button1{
        padding: 10px 10px 10px 10px;
        background: #000000;
        border: 1px solid #FFFFFF;
        box-sizing: border-box;
        width: 100px;
        height: 40px;
        border-radius: 2px;
        text-align: center;
        margin-right: 10px;
      }
    
      .buttonss__button2{
        padding: 10px 10px 10px 10px;
        border: 1px solid var(--dangerColor);
        box-sizing: border-box;
        width: 100px;
        height: 40px;
        border-radius: 2px;
        text-align: center;;
        background: var(--dangerColor);
        border-radius: 5px;
      }

      a{
          color: white;
      }

  }