
<!-- Ini adalah "penggalan" HTML untuk bagian footer. Semua halaman akan menggunakan footer yang sama. -->

    <!-- footer section start -->
    <footer>

    <section>
      
      <div class="grid-container">
        <div class="g1">
          <h2>Get in Touch</h2>

          <h3>Email Address</h3>
          <p>fadelkevin.w@gmail.com</p>

          <h3>Phone Number</h3>
          <p>+62 81 282 717 640</p>

          <h3>Location</h3>
          <p>Depok, Indonesia</p>
        </div>
    
        <div class="g1">
          <h2>About Me</h2>
          <p>I am a graduate of the Tritura School of Technology with a major in Computer Network Engineering.
            I am focusing on the Frontend Devlopment areas using the HTML and CSS Programming Language.</p>

            <div class="buttonss">
              <div class="buttonss__button1">
                <a href="#">Email</a> 
              </div>
              <div class="buttonss__button2">
                <a href="#">Whatsapp</a> 
              </div>
            </div>

        </div>



        <div class="g1">
          <h2>My Projects</h2>

          <ul>
            <li><a href="#">Link 1</a></li>
            <li><a href="#">Link 2</a></li>
            <li><a href="#">Link 3</a></li>
          </ul>

          </div>

        </div>  
      
      </div>
      
      </body>
      </html>

    </section>
    <div class="footers">
      Created By Fadel Kevin Wiratama</a> | 2022 All rights reserved.
    </div>

    </footer>

@@if(context.script) {
  @@for(var i=0; i < script.length; i++) {
  <script src="`+script[i]+`" ></script>
  }
}
  </body>
</html>

<!-- Penggalan HTML footer berhenti di sini -->